.background_image {
  background: url("https://static.pexels.com/photos/65117/pexels-photo-65117.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sign_in_form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 30%;
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  text-align: center;
}

.sign_in_field {
  width: 80%;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  border: 1px solid #a7bcc5;
  text-decoration: none;
}
.space {
  margin-bottom: 15px;
}
