.background_image {
  background: url("https://static.pexels.com/photos/65117/pexels-photo-65117.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
