.sign_in_form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  width: 15em;
  padding: 2em 1em 2em 1em;
  background-color: yellow;
}

.sign_in_email {

}
.sign_in_password {

}
